body {
  margin: 0;
  padding: 0;

  background: url(/img/02-Late-Morning.png) no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  margin-top: 50px;
  padding: 30px;
}
form button,
form h5 {
  margin: 20px 0;
}
